@model GuniKitchen.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordered_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordered_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ordered_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordered_At)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cart_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
